# игнорировать установленные пакеты
# Поместите сюда любые файлы, которые вы не
# хотите вносить,такие как .DS_Store (OSX), *.bak, etc.

node_modules
*~
# Элементы файла .gitignore применяются также к подкаталогам. Так что, если вы вставили *~ в файл .gitignore в корневом
# каталоге проекта, все подобные резервные копии файлов будут проигнорированы, даже если они находятся в подкаталогах.
.DS_Store

